@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 210 40% 98%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 210 40% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 195 100% 73%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 210 40% 91%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 91%;
    --muted-foreground: 215 25% 45%;
    --accent: 0 100% 38%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 91%;
    --input: 210 40% 91%;
    --ring: 195 100% 73%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 195 100% 73%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 21% 65%;
    --accent: 0 100% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 195 100% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
